VersionString
{
	position: absolute;
	left: 10px;
	top: 5px;
	font-size: 20px;
	font-weight: bold;
	color: darkorange;
	height: 20px;
	padding: 0 20px;
	align-items: center;
}

StatusBar {
	position: absolute;
	left: 0px;
	bottom: 0px;
	border-radius: 0px 50px 0px 0px;
	background-color: rgba( #222, 0.3 );
	width: 250px;
	height: 150px;

	.health {
		position: absolute;
		left: 10px;
		top: 32px;
		font-size: 25px;
		font-weight: bold;
		color: white;
		height: 30px;
		padding: 0 20px;
		align-items: center;
	}

	.stamina {
		position: absolute;
		left: 10px;
		top: 62px;
		font-size: 25px;
		font-weight: bold;
		color: white;
		height: 30px;
		padding: 0 20px;
		align-items: center;
	}

	.money {
		position: absolute;
		left: 10px;
		top: 92px;
		font-size: 25px;
		font-weight: bold;
		color: white;
		height: 30px;
		padding: 0 20px;
		align-items: center;
	}

	.team {
		position: absolute;
		right: 10px;
		bottom: 5px;
		font-size: 15px;
		font-weight: bold;
		color: white;
		height: 30px;
		padding: 0 5px;
		align-items: center;
	}
}

CurrentTool
{
	position: absolute;
	background: linear-gradient(to right, rgba(black, 0.5), rgba(black, 0.0));
	top: 100px;
	left: 0px;
	padding: 30px 70px;
	flex-direction: column;
	width: 560px;
	opacity: 0.0;

	&.active
	{
		opacity: 1.0;
	}

	.title
	{
		font-size: 50px;
		font-weight: bold;
		text-shadow: 4px 4px 10px rgba( black, 0.3 );
		color: white;
	}

	.description
	{
		padding-top: 5px;
		padding-left: 10px;
		font-size: 18px;
		font-weight: normal;
		text-shadow: 2px 2px 5px rgba( black, 0.3 );
		color: white;
		opacity: 0.8;
	}
}

rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;

	&.spawnmenuopen
	{
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}


	&.devcamera
	{
		display: none;
	}
}


InventoryBar
{
	position: absolute;
	width: 100%;
	bottom: 48px;
	justify-content: center;
	align-items: flex-end;
}

InventoryIcon
{
	width: 80px;
	height: 80px;
	background-color: rgba( #222, 0.3 );
	margin: 0px 2px;
	position: relative;
	transition: all 0.2s ease-in-out;
	margin-top: 10px;
	font-family: poppins;

	.item-name
	{
		padding: 5px;
		color: white;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 10px;
		position: absolute;
		bottom: 0;
		opacity: 0.7;
		transition: all 0.5s ease-in-out;
		text-shadow: 1px 1px 5px black;
	}

	.slot-number
	{
		font-size: 25px;
		color: black;
		font-weight: 900;
		opacity: 0.3;
		position: absolute;
		top: 1px;
		right: 5px;
	}

	&.active
	{
		background-color: rgba( #0094ff, 0.5 );
		transition: all 0.1s ease-out;
		width: 100px;
		height: 100px;

		.slot-number
		{
			color: #275576;
		}

		.item-name
		{
			opacity: 1;
			transition: all 0.1s ease-out;
			font-size: 13px;
		}
	}
}
