.codegen
obj
accesslist.txt
*.csproj
launchSettings.json
tools_asset_info.bin
tools_thumbnail_cache.bin
*.xml
*.dll
*.pdb
*.vtf
*.vmt
*.mdl
*.tga
*.vtx
*.phy
*.vvd
*.qc
*.smd
.intermediate/net5.0/sandbox.deps.json
