.mygamemenu {
	width: 100%;
	height: 100%;
	align-items: flex-start;
	flex-direction: column;
	font-family: Bookman, URW Bookman L, serif;
	background-color: #4f7d7d;
	background-image: url( "menu/background_video.mp4" );
	background-position: center;
	background-size: cover;

	&.ingame {
		backdrop-filter: blur( 10px );
		background-color: #25281b55;
		background-image: none;
	}
}

.title {
	font-size: 80px;
	font-family: Poppins;
	font-weight: bold;
	color: #ff1;
	text-shadow: 4px 4px 0px black;
	margin-top: 65px;
	margin-left: 170px;
}

.options {
	flex-direction: column;
	gap: 8px;
	pointer-events: all;
	color: white;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 50px;
	padding-bottom: 100px;

	.spacer {
		flex-grow: 1;
		padding-bottom: 10px;
	}

	.option {
		font-size: 50px;
		color: #ddd;
		border-radius: 15px;
		background-color: rgb(175, 175, 175, 0.4);
		text-transform: uppercase;
		cursor: pointer;
		font-weight: bold;
		padding: 10px 20px;
		opacity: 1;

		&:hover {
			color: #fff;
			opacity: 1;
			sound-in: "menu/select_03.sound";
			//transform: scale( 1.025 );
		}

		&:active {
			//padding-top: 2px;
			//padding-bottom: 0px;
			sound-in: "menu/select_07.sound";
		}
	}

	.text {
		font-size: 35px;
		color: snow;
		font-weight: normal;
	}

	.text-header {
		font-size: 85px;
		font-weight: bold;
	}

	.btn-back {
		background-color: rgb(176, 52, 52, 0.4);
	}

	.btn-confirm {
		background-color: rgb(208, 216, 28, 0.4);
	}
}

.options-centered {
	position: absolute;
	left: 200px;
	top: 350px;
	bottom: 10px;
}


.worldCreationPreview {
	position: absolute;
	right: 0px;
	flex-direction: column;
	padding: 100px 50px;
	top: 0px;
	bottom: 0px;
	justify-content: space-between;

	.img-container {
		position: relative;
		top: 0;
		left: 0;
	}

	.img-terrain {
		position: relative;
		top: 0;
		left: 0;
		border: 1px yellow solid;
	}

	.img-islands {
		position: absolute;
		top: 1px;
		left: 1px;
		border: 1px green solid;
	}

	.img-worldborder {
		position: absolute;
		top: 2px;
		left: 2px;
		border: 1px green solid;
	}

	.img-harbors {
		position: absolute;
		top: 3px;
		left: 3px;
		border: 1px gray solid;
	}
}

.leaderboards {
	position: absolute;
	right: 0px;
	flex-direction: column;
	padding: 100px 50px;
	top: 0px;
	bottom: 0px;
	justify-content: space-between;

	h1 {
		color: #fff;
		justify-content: center;
		font-family: "Cascadia Mono", monospace;
		font-size: 34px;
		font-weight: bolder;
		text-transform: uppercase;
		letter-spacing: 6px;
	}

	> h2 {
		color: #fff;
		justify-content: center;
		font-family: Poppins;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 7px;
	}
}
